@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: Inter, Arial, Helvetica, sans-serif;
  @apply text-white;
}
.carousel-container {
  max-width: 1024px;
  margin: 5em auto;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.indicator {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px #fff solid;
  margin: 0;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.indicator.active {
  color: #fff;
  background: #fff;
}

.demo {
  background: #00000033;
  width: 100%;
  height: 100%;
}

.dot {
  content: '';
  width: 2px;
  height: 2;
  border-radius: 50%;
  margin: 0 10px;
  background-color: @apply bg-slate-300;
}

.dot:last-child {
  display: none;
}
